:root {
    --primary-color: #10b9e4;
    --text-color: #323232;
    --background-color: #e4e4e4;
    --content-color: #fff;
    --evaluate-color: #e25945;
    --hover-color: #fdeb68;
}

* {
    margin: 0;
    box-sizing: inherit;
    /* kế thừa*/
}


html {
    font-size: 62.5%;
    /* font-size: 1rem; là 10px gọi là 1 hack*/
    line-height: 2.5rem;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.pl-40 {
    padding-left: 40px;
}

.ml-100 {
    margin-left: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

#top-main {
    height: 48px;
}

#content-main {
    background-color: var(--background-color);
    padding: 30px 0;
}

.hidden-pc {
    display: none;
}

i {
    color: var(--hover-color);
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
    padding-left: 0;
}

#main {
    overflow: hidden;
}

#footer,
#header {
    background-image: linear-gradient(0, #13a4d8, #153e4d);
}


/* nút về đầu trang */
#back-to-top__btn {
    display: none;
    margin: 0px 10px 10px 0px;
    display: block;
    bottom: 0px;
    right: 0px;
    opacity: 1;
    position: fixed;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    line-height: 1;
}

.arrow-to-top {
    font-size: 32px;
    font-weight: 500;
    color: #545454;
    padding: 0 10px 10px 10px;
    border: 1px solid #545454;
}

.arrow-to-top:before {
    content: "\2191";
}

/* header-text */
.subheader {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--primary-color);
    padding: 20px 20px 10px 20px;
    text-transform: uppercase;
}

.subheader::after {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: var(--primary-color);
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
}